%h3.masthead-brand Ahmed
%nav.nav.nav-masthead.justify-content-center
	=link_to "Home", root_path, class: "nav-link #{@active_link == 'home' ? 'active' : '' }"
	=link_to "About", about_path, class: "nav-link #{@active_link == 'about' ? 'active' : '' }"
	=link_to "Contact", contact_path, class: "nav-link #{@active_link == 'contact' ? 'active' : '' }"
	=link_to "Blog", blogs_path, class: "nav-link #{@active_link == 'blog' ? 'active' : '' }"
	=link_to "Portfolio", protfolios_path, class: "nav-link #{@active_link == 'portfolio' ? 'active' : '' }"
	=login 'nav-link'